@import '../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import "../../node_modules/@syncfusion/ej2-react-grids/styles/material.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.mapImage {
    height: 12px;
    width: 12px;
}

td.e-rowcell .statustxt.e-activecolor {
    color: #00cc00;
    position: relative;
}

td.e-rowcell .statustxt.e-inactivecolor {
    color: #e60000;
    position: relative;
}


#myProgress {
    position: relative;
    height: 18px;
    width: 10em;
    text-align: left;
    background-color: #f3f3f3;
}

.highcontrast #overviewgrid #myProgress {
    background-color: black;
}

#myBar {
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: #00ce00;
}

#myBar.progressdisable {
    background-color: #920000;
}

#pbarlabel {
    position: relative;
    left: 10px;
    line-height: 18px;
    font-size: 10px;
    color: white;
}